@media (max-width: 750px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
}

@media (max-width: 350px) {
  .container {
    display: flex;
    flex-direction: column;
    max-width: 356px;
    margin-top: 0;
  }
}
